@import "elements.less";
@fullwidth: 1020px;
@orange: #f37121;
@bgrey: #383a3b;

html, body {
    background-color: #000;
    font-family: Arial, FreeSans, sans-serif;
}

p, h1, h2, h3, h4 {
    font-family: Arial, FreeSans, sans-serif;
}

em {
    font-style: oblique;
}

h3, h4 {
    text-transform: uppercase;
    color: @orange;
    text-size: 15px;
    padding-bottom: 10px;
    font-weight: bold;
}

p {
    color: #fff;
    line-height: 1.5;
    font-size: 12px;
}

strong {
    font-weight: bold;
}

h2#blog-recent-posts {
    background-color: @orange;
    color: #fff;
    text-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 40px;
}

.post-wrapper {
    padding: 0;
    margin-bottom: 20px;
    display: block;
    overflow: hidden;
    zoom: 1;
}

.post-header {

}

.post-leader {
    a {
        color: #fff!important;
        text-decoration: none;

        &:hover {
            color: @orange!important;
            text-decoration: underline;
        }
    }
}

.post-thumb {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

#pagination-wrapper {
    padding: 5px;
    color: #fff;
    font-size: 12px;
}

div#blog-content-wrapper {
    h3 {
        padding-top: 5px;
    }

    p {
        padding: 5px 0;
    }

    overflow: hidden;
    zoom: 1;
    background-color: #1b1c1e;

    #blog-content {
        float: left;
        width: @fullwidth * 0.75 - 80px;
        background-color: #6d6e70;
        min-height: 550px;

        &.associate-content {
            min-height: 750px;
        }

        &.news-landing {
            background-color: #292b2c;
        }

        .post-readmore {
            display: block;
            float: right;
            margin-right: 20px;
            margin-top: 20px;
            background-image: url('/wp-content/themes/ag/img/news-button.png');
            width: 96px;
            height: 22px;
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            font-size: 12px;
            text-align: center;
            padding-top: 5px;
        }

        padding: 40px;

        h3 {
            text-transform: none;
        }
    }

    #blog-sidebar {
        float: right;
        width: @fullwidth * 0.25;

        h4 {
            color: @orange;
            text-transform: uppercase;
            font-weight: bold;
            background-color: #38393b;
            padding: 7px 20px;
            margin-top: 20px;
            font-size: 16px;
        }

        ul {
            margin-top: 20px;
        }

        ul li {
            a {
                display: block;
                color: #fff;
                text-decoration: none;
                margin-left: 30px;
                padding: 5px 0;
                font-weight: bold;
                font-size: 14px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

    #associate-sidebar {
        float: right;
        width: @fullwidth * 0.25;

        .associate-outgoing {
            text-decoration: underline;
            text-transform: uppercase;
            line-height: 1.4;
            display: block;

            &.bottom {
                margin-bottom: 20px!important;
            }
        }

        h3 {
            margin-top: 20px;
            color: @orange;
            background-color: #383a3b;
            padding: 10px 15px!important;
        }

        h4 {
            color: @orange;
            text-transform: uppercase;
            font-weight: bold;
            background-color: #38393b;
            padding: 7px 20px;
            margin-top: 20px;
            font-size: 16px;
        }

        ul {
            margin-top: 20px;
        }

        ul li {
            a {
                display: block;
                color: #fff;
                text-decoration: none;
                margin-left: 30px;
                padding: 5px 0;
                font-weight: bold;
                font-size: 14px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        
    a {
        display: block;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        padding: 6px;
        padding-left: 40px;

        &.orange {
            color: @orange;
        }

        &:hover {
            text-decoration: underline;
        }
    }
    }


    #associate-meta-left {
        width: 320px;
        float: left;

        h3 {
            font-size: 24px!important;
        }

        h4 {
            font-size: 14px;
            padding-bottom: 0px;
            padding-top: 10px;
        }

        p {
            padding-bottom: 10px;
            padding-left: 20px;
        }
    }

    #associate-meta-right {
        width: 320px;
        float: right;
        overflow: hidden;
        zoom: 1;

        blockquote {
            font-size: 18px;
            color: #fff;
            padding: 10px 0;
            padding-top: 20px;

        }

        #signature-project-wrapper {
            overflow: hidden;
            zoom: 1;
        }

        #signature-project {
            /*width: 260px;*/
            /*height: 150px;*/
            /*overflow: hidden;*/
            margin-top: 15px;
            float: left;
        }

        #signature-project-info {
            float: right;
            padding-top: 10px;
            width: 145px;
        }
    }




#leader-sidebar {
    float: left;
    width: 200px;
    padding-top: 15px;

    #meet-the-associates {
        padding-top: 40px;
    }

    a {
        display: block;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        padding: 6px;
        padding-left: 40px;

        &.orange {
            color: @orange;
        }

        &:hover {
            text-decoration: underline;
        }
    }

}

#ourteam-sidebar {
    float: left;
    width: 200px;
    padding-top: 15px;

    #meet-the-associates {
        padding-top: 40px;
    }

    a {
        display: block;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        padding: 6px;
        padding-bottom: 10px;
        line-height: 1.2;
        padding-left: 40px;

        &.orange {
            color: @orange;
        }

        &:hover {
            text-decoration: underline;
        }
    }

}


.ourteam-content {
    float: right!important;
    overflow: hidden;
    zoom: 1;
    width: 720px!important;
    padding-top: 20px!important;
    min-height: 400px!important;

    h4 {
        font-size: 12px;
        padding-bottom: 0px;
    }


    #ourteam-meta-left {
        img {
            padding-bottom: 15px;
        }

        width: 420px;
        float: left;

        p {
            padding-bottom: 10px;
            padding-left: 20px;
        }
    }

    #ourteam-meta-right {
        width: 220px;
        float: right;
        overflow: hidden;
        zoom: 1;

        h3 {
            text-transform: uppercase!important;
            font-size: 14px;
        }
    }
}

.leader-content {
    float: right!important;
    overflow: hidden;
    zoom: 1;
    padding-top: 20px!important;
    min-height: 400px!important;

    h4 {
        font-size: 12px;
        padding-bottom: 0px;
    }


    #leader-meta-left {
        img {
            padding-bottom: 15px;
        }

        width: 220px;
        float: left;

        p {
            padding-bottom: 10px;
            padding-left: 20px;
        }
    }

    #leader-meta-right {
        width: 420px;
        float: right;
        overflow: hidden;
        zoom: 1;

        blockquote {
            font-size: 18px;
            color: #fff;
            padding: 10px 0;
            padding-top: 20px;

        }

        #signature-project-wrapper {
            overflow: hidden;
            zoom: 1;
        }

        #signature-project {
            width: 260px;
            height: 150px;
            overflow: hidden;
            margin-top: 15px;
            float: left;
        }

        #signature-project-info {
            float: right;
            padding-top: 10px;
            width: 145px;
        }
    }
}

#case-study-header {
    font-size: 24px;
}

.case-study-content {
    h4 {
        font-size: 13px;
        padding-top: 15px;
        padding-bottom: 5px;
    }

    em {
        color: #ccc;
    }
}

#case-study-meta {
    width: 300px;
    float: left;
}

#case-study-photos {
    width: 368px;
    margin-right: -15px;
    float: right;

    img {
        margin-bottom: 3px;
    }
}

h2#page-header {
    background-image: url('/wp-content/themes/ag/img/multifamily_header.jpg');
    background-repeat: no-repeat;
    width: @fullwidth;
    max-height: 20px;
    color: #fff;
    padding-top: 55px;
    padding-bottom: 15px;
    padding-left: 40px;
    text-transform: uppercase;
    font-weight: bold; 
    font-size: 30px;
    vertical-align: bottom;
}

#custom-page-header-wrapper {
    position: relative;
    width: @fullwidth;
}

h2#custom-page-header {
    position: absolute;
    top: 0;
    left: 0;
    width: @fullwidth;
    max-height: 20px;
    color: #fff;
    padding-top: 55px;
    padding-bottom: 15px;
    padding-left: 40px;
    text-transform: uppercase;
    font-weight: bold; 
    font-size: 30px;
    vertical-align: bottom;
}

div#page-content-wrapper {
    padding: 40px;
    overflow: hidden;
    zoom: 1;

    .alignright {
        float: right;
        margin-top: 18px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .alignleft {
        float: left;
        margin-top: 18px;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    h3 {
        padding-top: 5px;
    }

    p {
        padding: 5px 0;
    }

    border-bottom: 17px solid @orange;

    margin-bottom: -8px;

    &.directions {
        position: relative;    
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &.contact-form {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &.contact-form form {
        overflow: hidden;
        zoom: 1;

        label {
            display: block;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        input, textarea {
            border: 1px solid #ddd;
            background-color: transparent;
            padding: 5px;
            width: 100%;

            color: #fff;
            font-size: 14px;
            font-family: Arial, verdana, sans-serif;

            &.checkbox, &.radio {
                width: auto;
            }

            &.radio {
                margin-left: 20px;
            }
        }

        textarea {
            margin-bottom: 10px;
            height: 120px;
        }


        #contact-submit {
            display: block;
            float: right;
            margin-right: 20px;
            margin-top: 20px;
            border: none;
            background-image: url('/wp-content/themes/ag/img/news-button.png');
            width: 96px;
            height: 25px;
            min-height: 27px;
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            font-size: 12px;
            text-align: center;
            padding-top: 2px;
        }



        color: #fff;
        font-size: 14px;
        font-family: Arial, verdana, sans-serif;
    }
}

#contact-left {
    float: left;
    width: 35%;
}

#contact-right {
    float: right;
    width: 55%;

    label {
        margin-right: 40px;
        font-style: oblique;
    }

    fieldset {
        padding-bottom: 10px;
    }
}

#directions-map {
    position: relative;
    z-index: 10;
}

#directions-photo {
    position: absolute;
    top: 20px;
    right: 40px;
}

#directions-content {
    position: absolute;
    top: 340px;
    left: 40px;
    width: 300px;
    z-index: 200;

    font-weight: bold;

    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

#directions-address {
    position: absolute;
    top: 340px;
    left: 645px;
    width: 300px;
    color: #fff;
    font-size: 12px;
    font-family: Arial, verdana, sans-serif;
    line-height: 1.5;
}

div#page404 {
    padding: 100px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}

div#main-wrapper {
    position: relative;
    width: @fullwidth;
    margin: 0 auto;
    padding: 0;
    background-color: @bgrey;
}

a:link,
a:visited,
a:active {
    color: #f37121;
}

a:hover {
    color: #000;
}

div#header {
    background-image: url('/wp-content/themes/ag/img/ag-header-bg-color.png');
    background-repeat: none;
    position: relative;
    width: @fullwidth;
    height: 140px;
    overflow: hidden;
    zoom: 1;

    div#logo {
        padding-top: 23px;
        padding-left: 30px;
        float: left;

        a {
            display: block;
            width: 240px;
            height: 67px;
            text-indent: -9999px;
            background-image: url('/wp-content/themes/ag/img/ag-header-logo-color.png');
        }
    }


    div#search-nav {
        float: right;
        display: table-cell;
        vertical-align: middle;
        margin-top: 7px;
        margin-right: 30px;
        margin-bottom: 20px;
        width: 655px;
        text-align: right;
        overflow: hidden;
        zoom: 1;
        padding-top: 3px;

        a.newsletter {
            color: #ebedec;
            text-decoration: none;
            padding: 0px 5px 0px 0px;
        }

        p {
            display: inline;
            color: #ebedec;
            text-transform: uppercase;
            font-size: 8.5px;
            font-weight: bold;
            vertical-align: middle;

            span {
                color: @orange;
                padding: 0 6px;
            }
        }
 
        img { 
            display: inline;
            vertical-align: middle;
        }

        img.twitter {
            margin-top: -1px;
        }

        input#s {
            display: block;
            float: right;
            width: 170px;
            height: 17px;
            margin-top: 3px;
            margin-left: 8px;
            padding: 1px 0;
            padding-left: 20px;
            border: 1px solid #888;
            font-family: Arial, FreeSans, sans-serif;
            font-weight: bold;
            font-size: 10px;
            .rounded(9px);

            background-image: url('/wp-content/themes/ag/img/search-glass.png');
            background-repeat: no-repeat;
            background-position: 5px center;
        }
    }

    ul li {
        display: inline;
    }

    li.dot {
        font-weight: bold;
        color: @orange;
    }

    div#navigation,
    div.subnavigation {
        text-align: center;
        margin-right: 30px;
        overflow: hidden;
        zoom: 1;

        li {
            display: inline-block;
            padding: 0 1px;
        }

        a:link,
        a:visited,
        a:active { 
            display: block;
            color: #fff;
            font-weight: bold;
            padding: 2px 3px;

            text-decoration: none;
            text-transform: uppercase;
        }

        a:hover {
            color: #000;
        }

    }

    div#navigation {
        float: right;
        font-size: 13px;
        margin-bottom: 3px;
        width: 680px;

        a:hover {
            background-image: url('/wp-content/themes/ag/img/white5.png');
            background-repeat: repeat;
        }

        li {
            padding-bottom: 35px;
        }
    }

    div.subnavigation {
        display: none;
        position: absolute;
        top: 75px;
        font-size: 12.4px;
        overflow: hidden;
        padding-bottom: 40px;

        ul {
            background-image: url('/wp-content/themes/ag/img/white5.png');
            background-repeat: repeat;
            padding-top: 3px;
            padding-bottom: 4px;
        }

        &#our-firm-subnavigation {
            right: 320px;
            width: 330px;
        }

        &#our-work-subnavigation {
            right: 0px;
            width: 660px;
        }

        &#contact-us-subnavigation {
            right: 0px;
            width: 240px;
        }

        a:hover {
            background-image: none!important;
        }
        
        li {
            padding-bottom: 0!important;
        }
    }

    ul#breadcrumbs {
        position: absolute;
        bottom: 0;
        left: 0;
        width: @fullwidth;
        background-color: rgba(0,0,0,0.75);
        padding-left: 32px;
        overflow: hidden;
        zoom: 1;

        li {
            float: left; 

            height: 20px;
            padding-top: 5px;
            font-size: 12px;
            padding-left: 6px;
            color: #fff;
        }

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

div#home-slideshow-nav {
    position: absolute;
    top: 510px;
    z-index: 100;
    right: 45px;
    overflow: hidden;
    zoom: 1;

    a {
        display: block;
        float: left;
        background-color: #fff;
        border: 1px solid #444;
        .rounded(10px);
        width: 10px;
        height: 10px;
        margin: 0 5px;
        text-indent: -9999px;
    }

    a.activeSlide {
        background-color: @orange;
    }
}

div#home-slideshow {

    div.home-slide {
        position: relative;
        height: 405px;
        width: 1020px;

        &.community {
            background-image: url('/wp-content/themes/ag/img/final-slideshow-bg.png');
            background-repeat: no-repeat;

            div#home-community-challenge {
                width: @fullwidth / 2;

                h3 {
                    padding: 0 40px;
                    padding-top: 65px;
                    font-weight: bold;
                    font-size: 14px;
                    color: #fff;
                    text-transform: uppercase;

                    em {
                        color: #000;
                    }
                }

                p {
                    padding: 5px 40px;
                    padding-right: 60px;
                    color: #fff;
                    font-size: 12px;
                    line-height: 1.4;

                    em {
                        font-style: oblique;
                    }
                }

                img {
                    padding: 20px 30px;
                    padding-bottom: 5px;
                }

                a {
                    text-decoration: none;
                    display: block;
                    float: right;
                    text-align: right;
                    padding: 5px 10px;
                    background-color: white;
                }

                a:hover {
                    text-decoration: underline;
                }
            }

            div#home-community-video {
                width: @fullwidth / 2;
            }
        }

        div.home-slide-header {
            position: absolute;
            top: 25px;
            left: 45px;
            @shadow: 0px 0px 6px #000;


            h3 {
                -webkit-text-shadow: @shadow;
                -moz-text-shadow: @shadow;
                text-shadow: @shadow;
                color: #fff;
                font-size: 22px;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 3px;
            }

            h4 {
                -webkit-text-shadow: @shadow;
                -moz-text-shadow: @shadow;
                text-shadow: @shadow;
                color: #fff;
                font-size: 18px;
                font-weight: bold;
                font-style: oblique;
                margin-bottom: 3px;
            }

            p {
                -webkit-text-shadow: @shadow;
                -moz-text-shadow: @shadow;
                text-shadow: @shadow;
                display: inline-block;
                color: #fff;
                line-height: 1.3;
                font-size: 12px;

                a {
                    text-shadow: 0px 0px 6px darken(@orange, 20%);
                    text-decoration: none;
                }

                a:hover {
                    text-shadow: @shadow;
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }

        div.home-slide-caption {
            position: absolute;
            top: 30px;
            right: 0;
            
            p a {
                color: #fff;
                background-color: #2b2b2b;
                padding: 5px 10px;
                font-weight: bold;
                font-size: 16px;
                text-transform: uppercase;
                text-decoration: none;
            }

            p a:hover {
                text-decoration: underline;
            }
        }
    }
}

div#home-thumbnails {
    border-top: 22px solid @orange;
    margin-top: -2px;
    margin-bottom: 8px;
    height: 136px; 
    overflow: hidden;
    zoom: 1;

    div.home-thumbnail {
        float: left;
        position: relative;
        margin: 0 4px;
        width: 247px;

        a {
            color: #fff;
            text-decoration: none;
        }

        p {
            display: block;
            position: absolute;
            top: 10px;
            right: 0px;
            text-transform: uppercase;
            font-weight: bold;
            background-color: #2b2b2b;
            padding: 5px 7px;

        }

    }

    div#home-thumb-affordable {
        width: 251px;
        margin-left: 0;
    }

    div#home-thumb-student {
        width: 251px;
        margin-right: 0;
    }
}

div#upper-footer {
    background-image: url('/wp-content/themes/ag/img/ag-footer-bg-color.png');
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 12px;
    width: @fullwidth;
    height: 210px;
    overflow: hidden;
    zoom: 1;
    margin-top: 7px;

    h3 {
        color: @orange;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    p {
        color: #fff;
        font-size: 13px;
        font-weight: normal!important;
        line-height: 1.5;
    }

    a:link,
    a:active,
    a:visited {
        text-decoration: none;
    }

    a:hover {
        color: @orange;
        text-decoration: underline;
    }

    div#upper-footer-collab {
        float: left;
        width: 330px;
        padding-left: 40px;
        padding-right: 30px;
    }

    div#home-footer-engineering {
        float: left;
        width: 210px;
        padding-right: 50px;
        padding-left: 10px;

        h3 {
            padding-bottom: 0!important;
        }

        img {
            margin-bottom: 5px;
        }

        p {
            line-height: 1.3;
        }
    }

    div#upper-footer-experience {
        float: left;
        width: 200px;
        margin-right: 60px;
        
        img {
            padding-left: 10px;
        }

        p {
            padding-left: 10px;
        }
    }

    div#upper-footer-contributers {
        float: left;
        width: 300px;
    }

    div#home-footer-news {
        float: left;
        width: 300px;

        h4 {
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            padding-bottom: 3px;
        }

        p {
            font-size: 12px;
        }

        .news-teaser-wrapper {
            margin-bottom: 10px;
        }
    }
}

div#footer {
    overflow: hidden;
    zoom: 1;
    padding-bottom: 20px;

    img#footer-logo {
        float: left;
        margin-left: 33px;
    }

    div#footer-copyright {
        float: right;
        padding-top: 5px;
        padding-right: 35px;

        p {
            text-align: right;
            color: #fff;
            font-size: 12px;
            line-height: 1.7;
            word-spacing: 1px;

            a {
                color: #fff;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}


/////////////////////
// Our Work Landing Pages
/////////////////////

div#project-landing-wrapper {
    overflow: hidden;
    zoom: 1;

}

h2#landing-header {
    background-image: url('/wp-content/themes/ag/img/multifamily_header.jpg');
    background-repeat: no-repeat;
    width: @fullwidth;
    max-height: 20px;
    color: #fff;
    padding-top: 55px;
    padding-bottom: 15px;
    padding-left: 40px;
    text-transform: uppercase;
    font-weight: bold; 
    font-size: 30px;
    vertical-align: bottom;
}


h2#leader-header {
    background-image: url('/wp-content/themes/ag/img/leader-header.jpg');
    background-repeat: no-repeat;
    width: @fullwidth;
    max-height: 20px;
    color: #fff;
    padding-top: 52px;
    padding-bottom: 15px;
    padding-left: 40px;
    text-transform: uppercase;
    font-weight: bold; 
    font-size: 30px;
    vertical-align: bottom;
}


h2#ourteam-header {
    background-image: url('/wp-content/themes/ag/img/ourteam-header.jpg');
    background-repeat: no-repeat;
    width: @fullwidth;
    max-height: 20px;
    color: #fff;
    padding-top: 52px;
    padding-bottom: 15px;
    padding-left: 40px;
    text-transform: uppercase;
    font-weight: bold; 
    font-size: 30px;
    vertical-align: bottom;
}



div#project-nav-sidebar {
    float: left;
    width: 205px;
    min-height: 476px;
    background-color: #1b1c1e;

    img {
        margin: 15px 0;
        margin-left: 30px;
    }

    ul.nav {
        margin-left: 30px;
        width: 175px;

        li {
            position: relative;
        }

        li a {
            padding: 10px;
            display: block;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
        }

        li a:hover {
            background-color: #393a3c;
            color: @orange;
        }
    }

    ul.subnav {
        display: none;
        position: absolute;
        z-index: 99999;
        width: 200px;
        left: 175px;
        top: 0px;

        li a {
            background-color: #393a3c!important;
        }
    }
}

div#project-content-wrapper {
    overflow: hidden;
    zoom: 1;

    div#project-landing-feature {
        float: left;
        width: 300px;
        height: 220px;
        padding-top: 20px;
        padding-left: 50px;
    }

    div.project-content {
        float: right;
        overflow: hidden;
        zoom: 1;
        width: 190px;
        padding-top: 20px;
        padding-right: 40px;
 
        h3 {
            color: @orange;
            font-weight: bold;
            font-size: 13px;
            text-transform: uppercase;
            padding-bottom: 10px;
        }

        p {
            color: #fff;
            font-size: 12px;
            line-height: 1.4;
        }

    }
}

/////////////////////
// Project Detail Pages
/////////////////////

div#project-detail-content-wrapper {
    overflow: hidden;
    zoom: 1;
    background-color: #6d6e70;
    min-height: 560px;
    margin-bottom: 6px;
}

div#project-detail-body-wrapper {
    overflow: hidden;
    zoom: 1;
}

div#project-gallery-wrapper {
    float: left;
    margin: 20px 30px; 
    margin-right: 20px;
    width: 476px;
    text-align: center;

    div#project-gallery-nav-wrapper {
        text-align: left;
        display: inline-block;
        *display: inline;
        zoom: 1;
    }

    div#project-gallery-nav {
        text-align: center;
        overflow: hidden;
        zoom: 1;
        padding-top: 10px;

        a, ul {
            float: left;
        }

        a#project-gallery-prev {
            width: 15px;
            height: 16px;
            margin-top: 20px;
            margin-right: 10px;
            text-indent: -9999px;
            background-image: url('/wp-content/themes/ag/img/ag-gallery-left-arrow.png');
            background-repeat: no-repeat;
        }

        a#project-gallery-next {
            width: 14px;
            height: 16px;
            margin-top: 20px;
            margin-left: 10px;
            text-indent: -9999px;
            background-image: url('/wp-content/themes/ag/img/ag-gallery-right-arrow.png');
            background-repeat: no-repeat;
        }
    }

    div#project-gallery-nav-thumbs-wrapper {
        float: left;
        max-width: 420px;
        height: 70px;
        overflow: hidden;
    }

    ul#project-gallery-nav-thumbs {
        position: relative;
        width: 1000px;
        li {
            float: left;
            margin: 0 2px;

            &.activeSlide {
                opacity: 0.5;
            }
        }
    }
}

div.project-detail-content {
    float: right;
    overflow: hidden;
    zoom: 1;
    width: 240px!important;
    margin-right: 20px;
    margin-top: 20px;

    h3 {
        color: @orange;
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    p {
        color: #fff;
        font-size: 12px;
        line-height: 1.4;
    }
}

div#project-details {
    margin-bottom: 20px;
    font-weight: bold;
}

div#project-description {
    p {
        margin-bottom: 5px;
        font-size: 12px;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        font-size: 12px;
    }

    a:hover {
        text-decoration: underline;
        color: #fff;
    }
}

div#project-quote {
    margin-top: 40px;

    p {
        color: #000!important;
        font-size: 12px;
        font-style: oblique!important;
        line-height: 1.2!important;
    }

    em {
        display: block;
        margin-top: 5px;
        color: @orange;
        text-align: right;
    }
}

/////////////////////
// Map
////////////////////

#map-content-wrapper {
    overflow: hidden;
    zoom: 1;
    
    background-color: #27282A;
}

#map-sidebar  {
    background-color: #1B1C1E;
    float: left;
    width: 210px;
    height: 450px;

    h3 {
        font-size: 12px;
        margin: 15px;
        margin-bottom: 0;
        margin-left: 40px;
    }

    ul {
        margin-left: 40px;

        li {
            a {
                text-transform: uppercase;
                font-weight: bold;
                display: block;
                padding: 5px 0;
                font-size: 12px;
                text-decoration: none;
                color: #fff;

                &:hover {
                    color: @orange;
                }

                span {
                    font-size: 20px;
                    position: relative;
                    top: 1px;
                    padding-right: 2px;
                }
            }
        }
    }
}

#map-content {
    float: left;
    overflow: hidden;
    zoom: 1;
    width: 790px;
    height: 450px;

    #map-map {
        float: left;
        position: relative;
        margin: 30px;
        margin-top: 60px;
        background-image: url(/wp-content/themes/ag/img/map-bg.png);
        background-repeat: no-repeat;
        width: 475px;
        height: 315px;
        background-position: 0 0;

        #map-dots {
            display: none;
            position: absolute;
            top: 30px;
            left: 22px;
            z-index: 1;
            background-image: url(/wp-content/themes/ag/img/map-dots.png);
            background-repeat: no-repeat;
            width: 475px;
            height: 315px;
            background-position: 0 0;

        }

        #map-flags {
            position: relative;
            width: 475px;
            height: 315px;
            z-index: 2;

            a {
                display: none;
                position: absolute;
            }

            #map-santa-marta-flag {
                top: 115px;
                left: 227px;
            }

            #map-eastcastle-place-flag {
                top: 68px;
                left: 288px;
            }

            #map-st-catherines-commons-flag {
                top: 74px;
                left: 288px;
            }

            #map-newcastle-place-flag {
                top: 62px;
                left: 287px;
            }

            #map-cypress-glen-flag {
                top: 136px;
                left: 293px;
            }

            #map-three-crowns-park-flag {
                top: 86px;
                left: 158px;
            }

            #map-miller-rehab-center-flag {
                top: 96px;
                left: 101px;
            }

            #map-haven-hospice-flag {
                top: 207px;
                left: 260px;
            }

        }
    }

    #map-clients {
        float: left;
        width: 200px;

        padding-top: 15px;

        h3 {
            font-size: 12px;
            margin-bottom: 10px;
        }

        li {
            padding-bottom: 20px;
        }

        a, li {
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 12px;
            font-weight: bold;
            display: block;

        }

        a {
            small {
                display: block;
                font-size: 10px;
            } 

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/////////////////////
// Process
////////////////////

#process-thumbs {
    overflow: hidden;
    zoom: 1;

    width: 840px + 25px;
    margin-left: 40px;
    padding-bottom: 20px;

    a {
        display: block;
        float: left;
        width: 168px;
        height: 155px;
        text-indent: -9999px;
        background-position: 0px 0px;
        margin-right: 5px;

    }
    
    #process-identify {
        background-image: url(/wp-content/themes/ag/img/process-identify.jpg);
    }

    #process-listen {
        background-image: url(/wp-content/themes/ag/img/process-listen.jpg);
    }

    #process-weave {
        background-image: url(/wp-content/themes/ag/img/process-weave.jpg);
    }

    #process-build {
        background-image: url(/wp-content/themes/ag/img/process-build.jpg);
    }

    #process-deliver {
        background-image: url(/wp-content/themes/ag/img/process-deliver.jpg);
    }
}

#process-info {
    width: 520px;
    min-height: 180px;

    margin-left: 40px;
    padding-bottom: 40px;

    div { display: none; }

    p {
        line-height: 1.35;
    }

    span {
        display: block;
        margin-top: 10px;
        color: @orange; 
    }

    h5 {
        color: #fff;
        font-weight: bold;
        padding: 10px 0;
    }
}

/////////////////////
// Engineering
/////////////////////

div.engineering-wrapper {
    background-color: #27282a;

    h3 {
        color: @orange;
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    p {
        color: #fff;
        font-size: 12px;
    }
}

div#engineering-thumbs {
    border-bottom: 20px solid @orange;
    min-height: 380px;

    div.engineering-thumb {
        float: left;
        margin-right: 8px;
        width: 247px;
        position: relative;

        &#thumb-structural {
            width: 250px;

            ul {
                padding-left: 50px;
            }
        }

        &#thumb-plumbing {
            width: 251px;
            margin-right: 0;
        }

        img {

        }

        h3 {
            position: absolute;
            top: 10px;
            right: 0;
            background-color: #27282a;
            padding: 5px 0;
            padding-left: 10px;
            width: 200px;
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            text-transform: uppercase;
        }

        ul { 
            list-style-type: disc;
            padding-top: 15px;
            padding-left: 25px;
            padding-right: 30px;
        }

        li {
            color: #fff;
            font-size: 12px;
            line-height: 1.2;
            padding: 5px 0;
        }
    }
}

div#engineering-content {
    padding: 20px 40px;

    p {
        padding-right: 400px;
        line-height: 1.5!important;
    }
}

h2#engineering-header {
    background-image: url('/wp-content/themes/ag/img/engineering-banner.jpg');
    background-repeat: no-repeat;
    width: @fullwidth;
    max-height: 18px;
    color: #fff;
    padding-top: 55px;
    padding-bottom: 15px;
    padding-left: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    vertical-align: bottom;
}
